.hero-wrapper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
  background-color: black;
  height: 100vh;
  display: flex;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/* left */
.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.hero-title {
  position: relative;
  font-family: Outfit;
  z-index: 1;
}

.hero-title > h {
  font-weight: 600;
  font-size: 3.8rem;
  line-height: 4rem;
}

.hero-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.hero-des > span {
  margin-bottom: 0.5rem;
}

/* right */
.hero-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
  width: 100%;
  height: 100%;
}
